<h2>About</h2>

<h4>This is an editable blurb</h4>
<div id='about_text' data-blurb='{{canEditBlurb}}'>
	{{{blurbs.about_text.rendered}}}
</div>

<h4>This blurb doesn't exist yet</h4>
<div id='new_text' data-blurb='{{canEditBlurb}}'>
	{{{blurbs.new_text.rendered}}}
</div>

<h4>This is static text</h4>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolor a ut placeat similique doloribus, eaque culpa libero corporis magni reprehenderit sapiente esse enim porro? Culpa iusto, velit laboriosam autem!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolor a ut placeat similique doloribus, eaque culpa libero corporis magni reprehenderit sapiente esse enim porro? Culpa iusto, velit laboriosam autem!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dolor a ut placeat similique doloribus, eaque culpa libero corporis magni reprehenderit sapiente esse enim porro? Culpa iusto, velit laboriosam autem!</p>

